form {
    width: 200px;
    text-align: center;
    margin: 200px auto;
    padding: 30px;
    /* /margin-left: 30%; */
    border: double 8px rgb(240, 34, 130);
    background-color: rgb(233, 185, 170);
}
body{
    background-color: darksalmon;
}

input[type="text"]{
    width:  150px;
    margin: 5px;
    padding: 4px;
    border: solid 5px rgb(240, 34, 130);
    background-color: rgb(233, 185, 170);
    color: black;
    }
    input[type="button"]{
        width:  100px;
        margin: 10px;
        padding: 5px;
        border: solid 5px rgb(240, 34, 130);
        background-color: rgb(48, 3, 24);   
        color: white;
        }

