body{
    background-color: bisque;
}
h1{
    color: rgb(241, 80, 80);
    text-align: center;
}
.img1{
    width: 500px;
    margin-top: 30px;
    margin-left: 200px;
} 
.text1{
    width:400px;
    float:right;
    margin-top: 100px;
    margin-right: 200px;
}