body{
    background-color: rgb(236, 146, 28);
}
header{
    background-color:  rgb(99, 230, 240);
}
h1{
    color: blueviolet;
    }
a{
    color: darkmagenta;
}
.lead{
    text-align: center;
}
.display-4{
    text-align: center;
    color: rgb(143, 25, 90);
    
}
.jumbotron{
    background-color: aqua;
}
footer{
    background-color:rgb(19, 108, 114);
    height: 80px;
}
footer h1{
    color:  rgb(221, 204, 236);
    font-size: 15px;
}
